<!-- <app-menu></app-menu>
<router-outlet /> -->

<mat-sidenav-container>
    <mat-sidenav #sidenav>
      <app-menu [sidenav]="sidenav"></app-menu>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar>
        <button 
          mat-button 
          (click)="onToggleSidenav(sidenav)"
          class="menu-toggle-button">
          <mat-icon>menu</mat-icon>
        </button>
        <div>Szőnyeg Webshop</div>
        <nav>
            <ul>
                <li><a routerLink="/home">Főoldal</a></li>
                <li><a routerLink="/products">Termékek</a></li>
                <li><a routerLink="/registration">Regisztráció</a></li>
                <li><a routerLink="/login">Bejelentkezés</a></li>
                <li><a routerLink="/profile">Profil</a></li>
            </ul>
        </nav>
      </mat-toolbar>
      <router-outlet />
    </mat-sidenav-content>
  </mat-sidenav-container>



