<h2>Termékek kezelése</h2>
@if (isAdmin) {
  <div>
    <div class="new-product-form">
      <h3>Új termék hozzáadása</h3>
      <form #productForm="ngForm" (ngSubmit)="addProduct()">
        <input type="text" name="name" placeholder="Név" [(ngModel)]="newProduct.name" required />
        <input type="text" name="description" placeholder="Leírás" [(ngModel)]="newProduct.description" />
        <input type="text" name="size" placeholder="Méret" [(ngModel)]="newProduct.size" />
        <input type="text" name="color" placeholder="Szín" [(ngModel)]="newProduct.color" />
        <input type="text" name="material" placeholder="Anyag" [(ngModel)]="newProduct.material" />
        <input type="number" name="price" placeholder="Ár" [(ngModel)]="newProduct.price" required />
        <label for="imageUrl">Kép</label>
        <select name="imageUrl" [(ngModel)]="newProduct.imageUrl">
          <option *ngFor="let i of [1,2,3,4,5,6]" [value]="'assets/carpet_' + i + '.jpg'">
            assets/carpet_{{i}}.jpg
          </option>
        </select>
        <button type="submit" [disabled]="!productForm.form.valid">Hozzáadás</button>
      </form>
    </div>

    <h3>Terméklista</h3>
    <ul>
      @for (product of products$ | async; track product) {
        <li>
          @if (product) {
            @if (editingProduct?.id !== product.id) {
              <div>
                <strong>{{ product.name }}</strong> - {{ product.price }} Ft
                <button (click)="startEdit(product)">Szerkesztés</button>
                <button (click)="deleteProduct(product.id)">Törlés</button>
              </div>
            }
            @if (editingProduct; as e) {      
              @if (editingProduct.id === product.id) {
              <form (ngSubmit)="saveEdit()" #editForm="ngForm">
                <input name="editName" [(ngModel)]="e.name" placeholder="Név" required />
                <input name="editDescription" [(ngModel)]="e.description" placeholder="Leírás" />
                <input name="editSize" [(ngModel)]="e.size" placeholder="Méret" />
                <input name="editColor" [(ngModel)]="e.color" placeholder="Szín" />
                <input name="editMaterial" [(ngModel)]="e.material" placeholder="Anyag" />
                <input type="number" name="editPrice" [(ngModel)]="e.price" placeholder="Ár" required />
                <label for="editImageUrl">Kép</label>
                <select name="editImageUrl" [(ngModel)]="e.imageUrl">
                  <option *ngFor="let i of [1,2,3,4,5,6]" [value]="'assets/carpet_' + i + '.jpg'">
                    assets/carpet_{{i}}.jpg
                  </option>
                </select>
                <button type="submit">Mentés</button>
                <button type="button" (click)="cancelEdit()">Mégsem</button>
              </form>
              }
            }
          }
        </li>
      }
    </ul>
  </div>
} @else {
  <p>Nincs jogosultságod a termékek kezeléséhez.</p>
}