<div class="container">
  <div class="container-header">
      <img src="assets/carpet.png">
      <h1>Üdvözlünk az oldalon!</h1>
  </div>
  <p>
      Fedezd fel prémium minőségű szőnyegeinket, amelyek otthonodat
      meleggé és stílusossá varázsolják! Válogass különböző méretek, 
      minták és anyagok közül, és találd meg a tökéletes darabot!
  </p>
  <p>
      Böngéssz kínálatunkban, és tedd még otthonosabbá lakásod!
  </p>

  @if (!isLoggedIn) {
      <button mat-flat-button color="accent" [routerLink]="['/login']" class="tasks">Bejelentkezés</button>
  }
  
  @if (isLoggedIn) {
      <button mat-flat-button color="accent" [routerLink]="['/profile']" class="tasks">Profilom</button>
  }
</div>