.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #fff;
    border-radius: 8px;
    margin-bottom: 20px;
}
  
.cart-item img {
    width: 120px;
    height: auto;
    object-fit: contain;
    border-radius: 8px;
}
  
.total {
    font-size: 18px;
    text-align: right;
}

.empty-cart {
    padding: 20px;
    text-align: center;
    background-color: #fff;
    border-radius: 8px;
    font-size: 18px;
    color: #555;
    margin-top: 40px;
  }
  